python-dotenv~=1.0.1
llama_index
beautifulsoup4~=4.12.3
llama-index-llms-ollama
llama-index-embeddings-huggingface
llama_index-llms-huggingface
openai
gradio~=4.36.1
bitsandbytes
torch~=2.3.1+cu121
transformers~=4.41.2
requests~=2.32.3
spacy~=3.7.5
nltk~=3.8.1
gr~=1.24.0
datasets
einops
triton
flashattn